<div class="col-md-9">
  <div class="panel panel-default panel-google-plus">
    <div class="dropdown pull-right" ng-if="authuser.id==entry.author.id">
      <span class="dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </span>
      <ul class="dropdown-menu" role="menu">
        <li><a ng-href="/post/{{entry.id}}">编辑</a></li>
        <li class="divider"></li>
        <li><a href="#">删除</a></li>
      </ul>
    </div>
    <div class="panel-heading">
      <a ng-href="/users/{{ entry.author.id }}">
        <img class="img-circle pull-left" ng-src="https://avatars.githubusercontent.com/{{entry.author.username}}?v=3&s=48" alt="{{ entry.author.username }}" />
      </a>
      <h3><a ng-href="/posts/{{ entry.id }}">{{ entry.title }}</a></h3>
      <h5>
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>  <span am-time-ago="entry.created"></span>
        <span class="glyphicon glyphicon-bookmark" aria-hidden="true" ng-if="entry.tags.length"></span>
        <span ng-repeat="tag in entry.tags" ng-if="entry.tags.length">
          <a ng-href="/tags/{{ tag.id }}">{{ tag.name }}</a>
          <span ng-if="!$last">, </span>
        </span>
      </h5>
    </div>
    <div class="panel-body" marked="entry.content"></div>
    <div class="panel-footer">
      <dir-disqus disqus-shortname="amaozhao"
        disqus-identifier="{{entry.id}}"
        disqus-url="http://amaozhao.sinaapp.com/posts/{{entry.id}}"
        disqus-on-ready="ready()">
      </dir-disqus>
    </div>
  </div>
</div>
<div class="col-md-3" ng-include="'/static/js/partials/nav/sidebar.html'" ng-controller="SidebarCtrl"></div>
