<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="media">
        <a ng-href="/user/{{ entry.author.id }}" class="media-left">
          <img ng-src="https://avatars.githubusercontent.com/{{entry.author.username}}?v=3&s=48" alt="{{ entry.author.username }}" class="img-circle">
        </a>
        <div class="media-body">
          <h3 class="panel-title"><a ng-href="/posts/{{ entry.id }}">{{ entry.title }}</a></h3>
          <hr style="margin: 4px -15px 8px; border-bottom: 1px solid #DDD;">
          <span>
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            <span am-time-ago="entry.created"></span>
            | <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
            <span ng-repeat="tag in entry.tags"><a ng-href="/tag/{{ tag.id }}">{{ tag.name }}</a></span>
          </span>
        </div>
      </div>
    </div>
    <div class="panel-body" marked="entry.content">
    </div>
    <div class="panel-footer">
    </div>
  </div>
</div>
<div class="col-md-3" ng-include="'/static/js/partials/nav/sidebar.html'" ng-controller="SidebarCtrl"></div>
