<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="media">
        <a ng-href="/user/{{ authuser.id }}" class="media-left">
          <img ng-src="https://avatars.githubusercontent.com/{{ authuser.username }}?v=3&s=48" alt="{{ authuser.username }}" class="img-circle">
        </a>
        <div class="media-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <div class="col-sm-6">
                <input ng-model="entry.title" class="form-control" placeholder="标题"></input>
              </div>
              <div class="col-sm-6">
                <selectize config="config" options='tags' ng-model="entry.tags"></selectize>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <textarea uikit-editor ng-model="entry.content" placeholder="日志内容"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="panel-footer" style="text-align: right;">
      <button class="btn btn-primary" ng-click="save()">保存</button>
      <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
  </div>
</div>
