<div class="col-md-9">
  <div class="panel panel-default" ng-repeat="entry in data.results">
    <div class="panel-heading">
      <div class="media">
        <a ng-href="/users/{{ entry.author.id }}" class="media-left">
          <img ng-src="https://avatars.githubusercontent.com/{{entry.author.username}}?v=3&s=48" alt="{{ entry.author.username }}" class="img-circle">
        </a>
        <div class="media-body">
          <h3 class="panel-title"><a ng-href="/posts/{{ entry.id }}">{{ entry.title }}</a></h3>
          <hr style="margin: 4px -15px 8px; border-bottom: 1px solid #DDD;">
          <span>
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            <span am-time-ago="entry.created"></span>
            | <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
            <span ng-repeat="tag in entry.tags">
              <a ng-href="/tag/{{ tag.id }}">{{ tag.name }}</a>
              <span ng-if="!$last">, </span>
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div ng-bind-html="entry.excerpt"></div>
      <a ng-href="/posts/{{ entry.id }}" class="btn btn-primary">阅读全文</a>
    </div>
  </div>
  <nav>
    <ul class="pager">
      <li class="previous" ng-if="data.previous"><a href="#">&larr; 前一页</a></li>
      <li class="next" ng-if="data.next"><a href="#">后一页 &rarr;</a></li>
    </ul>
  </nav>
</div>

<div class="col-md-3" ng-include="'/static/js/partials/nav/sidebar.html'" ng-controller="SidebarCtrl"></div>
