<div class="col-md-12">
  <div class="row">
    <div class="col-md-2 col-sm-3" ng-repeat="friend in data.results">
      <div class="thumbnail">
        <img class="img-circle" ng-src="https://avatars.githubusercontent.com/{{friend.to_user.username}}?v=3&s=48"
          alt="{{ friend.to_user.username }}" style="width: 60%;" />
        <div class="caption text-center" ng-if="editable">
          <a href="#" class="btn btn-primary btn-sm" ng-click="delete(friend)">取消关注</a>
        </div>
      </div>
    </div>
  </div>
</div>
