<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">网站详情</h3>
  </div>
  <div class="panel-body">
    关于本网站的详细介绍,用法等相关内容.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">最新日志</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="entry in recententries">
      <a ng-href="/posts/{{ entry.id }}">{{ entry.title }}</a>
      <span am-time-ago="entry.created" class="badge"></span>
    </li>
  </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">最新评论</h3>
  </div>
  <div class="panel-body">
    <div recent-comments params="{limit: 5, related:'thread'}"></div>
  </div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">日志归档</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="ar in archives">
      <a ng-href="/archive/{{ ar.year }}/{{ ar.month }}">
        {{ ar.year }}年{{ ar.month }}月
      </a>
    </li>
  </ul>
</div>
